 @media screen and (min-width: 320px) and (max-width: 570px) {

     .cardsparents {
         overflow: hidden;
     }

     .ironman {
         /* flex-direction: column; */
         align-items: center;
         margin: 20px;
         gap: 20px;
         display: flex;
         justify-content: center;
         text-align: center;

     }

     .name h1 {
         font-size: 2rem;
         text-align: center;
     }

     .nav {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 15px;
     }

     .nav a {
         padding: 10px;
     }

     .hero {
         flex-direction: column;
         align-items: center;
         padding: 40px 20px;
         height: auto;
         text-align: center;
     }

     .hero-text {
         max-width: 100%;
     }

     .hero-text h1 {
         font-size: 1.8em;
     }

     .hero-img {
         max-width: 80%;
         margin-top: 30px;
     }



     .about-content {
         flex-direction: column;
         padding: 30px 20px;
         text-align: center;
     }

     .left {
         width: 100%;
     }

     .left h2 {
         font-size: 1.6rem;
     }

     .left p {
         font-size: 0.9rem;
         text-align: justify;
     }

     .buttons {
         justify-content: center;
     }

     .right {
         margin-top: 30px;
         width: 100%;
         justify-content: center;
     }

     .profile-pic {
         width: 180px;
         height: 180px;
     }

     .cards {
         height: auto;
         padding: 1rem 0;
     }

     .tab-content {
         max-width: 95%;
         padding: 0.5rem;
     }

     .project-card {
         padding: 0.8rem;
     }

     .card-info h3 {
         font-size: 1rem;
     }

     .card-info p {
         font-size: 0.85rem;
     }

     .live-demo {
         font-size: 0.85rem;
     }

     .tab-buttons {
         flex-direction: column;
         align-items: center;
     }

     .hulk {
         flex-wrap: wrap;
     }

     .tech-icons {
         grid-template-columns: repeat(2, 1fr);
         gap: 1.5rem;
         padding: 1rem;
     }

     .glass-box {
         padding: 20px;
         font-size: 1rem;
     }

     .tech-icons img {
         width: 50px;
         height: 50px;
         padding-bottom: 10px;
     }

     .form {
         margin-top: 4rem;
         padding: 0 1rem;
     }

     .container {
         flex-direction: column;
         padding: 1.5rem;
     }

     .contact-info,
     #contactForm {
         width: 100%;
     }

     .contact-info div {
         flex-direction: column;
         align-items: flex-start;
         gap: 10px;
     }

     .contact-info div i {
         font-size: 20px;
         padding-left: 0;
     }

     #contactForm input,
     #contactForm textarea {
         font-size: 14px;
         padding: 12px;
     }

     #contactForm button {
         font-size: 14px;
         padding: 12px;
     }

     .footer {
         padding: 30px 10px 10px;
     }

     .social-icons {
         flex-wrap: wrap;
         gap: 15px;
         margin-top: 2.5rem;
         margin-bottom: 1.5rem;
     }

     .icon {
         width: 40px;
         height: 40px;
         font-size: 18px;
     }

     .footer p {
         font-size: 12px;
         margin: 2rem 0;
     }

     .video-background {
         height: 100vh;
     }

     .nav {
         flex-direction: column;
         align-items: center;
         display: flex;
         justify-content: center;
         text-align: center;
         /* width: 100%; */
     }

     .toggle {
         display: flex;
         /* margin-left: auto; */
     }
     .nav-links {
         flex-direction: column;
         width: 100%;
         background: #2d0b4e;
         align-items: center;
         text-align: center;
         position: absolute;
         top: 60px;
         right: 0;
         display: none;
         padding: 20px 0;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.422);
         transition: all 0.3s ease;
         z-index: 1000;
     }

     .nav-links.active {
         display: flex;
         padding: 20px 60px;
     }

     .nav-links a {
         padding: 15px;
         font-size: 16px;
     }



 }













 @media screen and (min-width: 570px) and (max-width: 768px) {
     .ironman {
         flex-direction: column;
         align-items: center;
         margin: 30px 40px;
         gap: 25px;
     }

     .name h1 {
         font-size: 2.3rem;
         text-align: center;
     }

     .nav {
         display: flex;
         gap: 25px;
         flex-wrap: wrap;
         justify-content: center;
     }

     .nav a {
         padding: 12px 18px;
     }

     .hero {
         flex-direction: column;
         align-items: center;
         padding: 60px 30px;
         height: auto;
         text-align: center;
     }

     .hero-text {
         max-width: 100%;
     }

     .hero-text h1 {
         font-size: 2.2em;
     }

     .hero-img {
         max-width: 65%;
         margin-top: 30px;
     }

     .about-content {
         flex-direction: column;
         padding: 50px 40px;
         text-align: center;
     }

     .left {
         width: 100%;
     }

     .left h2 {
         font-size: 1.9rem;
     }

     .left p {
         font-size: 0.95rem;
         text-align: justify;
     }

     .buttons {
         justify-content: center;
     }

     .right {
         margin-top: 30px;
         width: 100%;
         justify-content: center;
     }

     .profile-pic {
         width: 200px;
         height: 200px;
     }



     .cards {
         height: auto;
         padding: 1rem 0;
     }

     .tab-content {
         max-width: 90%;
     }

     .card-info h3 {
         font-size: 1.1rem;
     }

     .card-info p {
         font-size: 0.9rem;
     }

     .live-demo {
         font-size: 0.9rem;
     }

     .tab-buttons {
         flex-wrap: wrap;
         justify-content: center;
     }

     .hulk {
         flex-wrap: wrap;
     }

     .tech-icons {
         grid-template-columns: repeat(3, 1fr);
         gap: 2rem;
     }

     .glass-box {
         padding: 30px;
         font-size: 1.2rem;
     }

     .form {
         margin-top: 5rem;
         padding: 0 1.5rem;
     }

     .container {
         flex-direction: column;
         padding: 2rem;
     }

     .contact-info,
     #contactForm {
         width: 100%;
     }

     #contactForm input,
     #contactForm textarea {
         font-size: 15px;
         padding: 14px;
     }

     #contactForm button {
         font-size: 15px;
         padding: 14px;
     }

     .footer {
         padding: 35px 15px 15px;
     }

     .social-icons {
         gap: 20px;
         margin-top: 3rem;
         margin-bottom: 2rem;
     }

     .icon {
         width: 44px;
         height: 44px;
         font-size: 20px;
     }

     .footer p {
         font-size: 13px;
         margin: 2.5rem 0;
     }


     .toggle {
         display: flex;
     }

     .nav-links {
         /* flex-direction: column; */
         display: flex;
         justify-content: center;
         text-align: center;
         align-items: center;
         position: absolute;
         top: 60px;
         right: 0;
         background: #2d0b4e;
         width: 100%;
         display: none;
     }

     .nav-links.active {
         display: flex;
     }

     .nav-links a {
         padding: 18px;
         font-size: 18px;
     }

 }








 @media screen and (min-width: 768px) and (max-width: 1024px) {
     .ironman {
         margin: 30px 50px;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
     }

     .name h1 {
         font-size: 2.5rem;
     }

     .nav {
         display: flex;
         gap: 30px;
     }

     .nav a {
         padding: 15px 20px;
     }

     .hero {
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         padding: 80px 50px;
         height: auto;
     }

     .hero-text {
         max-width: 55%;
     }

     .hero-text h1 {
         font-size: 2.5em;
     }

     .hero-img {
         max-width: 40%;
     }

     .about-content {
         flex-direction: row;
         padding: 70px 60px;
     }

     .left {
         width: 60%;
     }

     .left h2 {
         font-size: 2.1rem;
     }

     .left p {
         font-size: 1rem;
     }

     .right {
         width: 35%;
     }

     .profile-pic {
         width: 220px;
         height: 220px;
     }


     .cards {
         height: auto;
         padding: 2rem 0;
     }

     .tab-content {
         max-width: 80%;
     }

     .card-info h3 {
         font-size: 1.2rem;
     }

     .card-info p {
         font-size: 1rem;
     }

     .live-demo {
         font-size: 1rem;
     }

     .tab-buttons {
         justify-content: center;
         gap: 1.5rem;
     }

     .hulk {
         flex-wrap: wrap;
     }

     .tech-icons {
         grid-template-columns: repeat(4, 1fr);
     }

     .form {
         margin-top: 6rem;
         padding: 0 2rem;
     }

     .container {
         flex-direction: row;
         padding: 2.5rem;
     }

     .contact-info,
     #contactForm {
         width: 48%;
     }

     #contactForm input,
     #contactForm textarea {
         font-size: 16px;
         padding: 16px;
     }

     #contactForm button {
         font-size: 16px;
         padding: 16px;
     }

     .footer {
         padding: 40px 20px 20px;
     }

     .social-icons {
         gap: 25px;
         margin-top: 3.5rem;
         margin-bottom: 2rem;
     }

     .icon {
         width: 48px;
         height: 48px;
         font-size: 22px;
     }

     .footer p {
         font-size: 14px;
         margin: 3rem 0;
     }



     .nav {
         padding: 15px 40px;
     }

     .nav-links {
         gap: 25px;
     }

     .nav-links a {
         padding: 15px;
         font-size: 18px;
     }

     .toggle {
         display: none;
         /* Tablet view = regular horizontal menu */
     }

     .nav-links {
         display: flex !important;
         position: static;
         background: transparent;
         flex-direction: row;
     }

 }